*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 230px;
    border: 1px solid salmon;
    border-radius: 20px;
    overflow: hidden;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#card1{
    transform: translate(-50% , -50% );
    z-index: 4;
    background-color: salmon;
}

#card2{
    z-index: 3;
    transform: translate(-50% , -50% ) rotate(-7deg);  
    background-color: blue;  
}

#card2:hover{
    z-index: 10;
}

#card3{
    z-index: 2;
    transform: translate(-50% , -50% ) rotate(-14deg);
    background-color: green;
}  

#card3:hover{
    z-index: 20;
}

#card4{
    z-index: 1;
    transform: translate(-50% , -50% ) rotate(-21deg);
    background-color: yellow;
}

#card4:hover{
    z-index: 30;
}
